<h4>
  Found <span style="color:red;"><%= pluralize(@products.count, "product") %></span>
  for the search term <span style="color:red;">"<%= params[:search_term] %> " </span> in  <span style="color:red;">
    <% if @cate != nil %>
      <%= @cate.name %>
    <% else %>
      <%= "All" %>
    <% end %>
  </span>.
</h4>
<div class="row d-flex justify-content-center d-flex flex-row bd-highlight mb-3">
  <% if @products.empty? %>
  <p>There are no products available.</p>
<% else %>
  <% @products.each do |product| %>
       <div class="col">
  <div class="card text-center ml-4 mb-4 p-2 " style="width: 11rem; height: 23rem;">
    <% if product.image.empty? %>
      <p><%= link_to image_tag(product.active_image.variant(resize_to_limit: [150, 200]).processed, alt: "#{product.name}", class: "border rounded"), product if product.active_image.attached? %></p>
    <% else %>
      <p><%= link_to image_tag("#{product.image}", alt: "#{product.name}", style: "width:150px; height:200px;", class: "border rounded"), product %></p>
    <% end %>
    <div class="card-body" style="overflow: hidden; white-space:nowrap; text-overflow:ellipsis;">
      <small class="card-title" ><strong><%= link_to "#{product.name}", product, class: "text-reset" %></strong> </small>
      <br >
      <small class="card-text">Price: <%= number_to_currency product.price %> </small>
    </div>
    <small><%= link_to("Quick Look", product, class: "btn text-success mb-2", style: "font-size: 1em; width: 6rem; height: 2rem;") %></small>
  </div>
</div>
  <% end %>
<% end %>
</div>
