<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <%= link_to "Home", root_path, class: "text-success" %></li>
    <li class="breadcrumb-item active"><%= link_to @cate.name, products_path(@cate.id), class: "text-success" %></li>
    <li class="breadcrumb-item active text-success"><%= @product.name %></li>
  </ol>
</nav>
<div class="row mr-2 ml-2 mt-5 pt-5">
  <div class=" col-lg-4 ">
    <% if @product.image.empty? %>
      <p><%= image_tag(@product.active_image.variant(resize_to_limit: [250, 350]).processed, alt: "#{@product.name}", class: "border rounded") if @product.active_image.attached? %></p>
    <% else %>
      <p><%= image_tag("#{@product.image}", alt: "#{@product.name}", style: "width:250px; height:350px;", class: "border rounded") %></p>
    <% end %>
  </div>
  <div class="col">
    <div class="row">
      <h6>Product Name: <%= @product.name %></h6>
    </div>
    <div class="row">
      <p>Price: <%= number_to_currency @product.price %></p>
    </div>
    <div class="row">
      <p>Category: <%= @cate.name %></p>
    </div>
    <% if @product.is_in_stock %>
      <div class="row">
        <p> Stock: On </p>
      </div>
    <% else %>
      <div class="row">
        <p> Stock: Off </p>
      </div>
    <% end %>
    <div class="row">
      <p>Discount Rate: <%= @product.discount_rate %> %</p>
    </div>
    <div class="row"><small><strong> Description: </strong></small><br >
      <small><%= @product.description %></small></div>
    <br >
    <% if current_devise_user %>
    <p>Quantity: </p>
      <%= form_for @line_item, url: line_items_path(product_id: @product), method: :post do |f| %>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <%= f.number_field :quantity, :vaue => 1, :min => 1, class: "rounded-sm pt-1 pb-1", style: "width:100px;" %>
        <%= f.submit "Add to Cart", class: "btn text-success" %>
      <% end %>
    <% end %>
  </div>
</div>
